.jumbotron{
    background-color: black;
    color: white;
    margin-top: 50px;
}
.container{
    background-color: white;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    margin-top:  10px;



}
.card-pizza{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-Comprar {
    width: 100%;
    border-radius: 0px;

}
.footer-address-icon {
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}
